const response = await fetch({{printf "%q" .URL}}, {
  method: {{printf "%q" .Method}},
  headers: {
{{- range sortedHeaders .ReqHeaders}}
    {{printf "%q" .K}}: {{printf "%q" .V}},
{{- end}}
  },
{{- if hasBody .}}
{{- if isJSON .ReqBodyType}}
  body: JSON.stringify({{jsonPretty .ReqBody}}),
{{- else}}
  body: {{printf "%q" (printf "%s" .ReqBody)}},
{{- end}}
{{- end}}
});

const data = await response.json();
console.log(response.status, data);
